description "Daemon to push gitlab repos"

start on runlevel [2345]
stop on runlevel [016]

setuid pushduser
setgid pushduser

chdir /path/to/gitlab-pushd

respawn
exec /bin/bash -l -c 'bin/rackup -E production -p 29224'
